<footer class="foot"><div class="foot-in">
  <div class="logo light">{% include "partials/logo.html" %}</div>
  <nav class="foot-links"><a href="#">About Us</a><a href="#">How It Works</a><a href="#">Success Stories</a><a href="#">Help</a><a href="#">Contact Us</a><a href="#">Terms</a><a href="#">Privacy</a></nav>
  <div class="foot-r">
    <span class="soc"><svg><use href="#i-fb"/></svg><svg><use href="#i-ig"/></svg><svg><use href="#i-yt"/></svg><svg><use href="#i-wa"/></svg></span>
    <span class="cur">Tanzania ({{ site.currency }}) &#9662;</span>
  </div>
</div></footer>
