{% url 'member' m.pk as u_view %}
<article class="mcard">
  <a class="m-ph" href="{% if user.is_authenticated %}{{ u_view }}{% else %}{% url 'login' %}?next={{ u_view|urlencode }}" data-auth="{{ u_view }}{% endif %}">
    {% if m.photo %}<img src="{{ m.photo.url }}" alt="{{ m.name }}" loading="lazy">{% endif %}
    {% if m.verified %}<span class="vbadge"><svg><use href="#i-check-c"/></svg>Verified</span>{% endif %}
    {% if m.is_online %}<span class="online" title="Online sasa"></span>{% endif %}
    <span class="m-ov"><b>{{ m.name }}, {{ m.age }}</b><small><svg><use href="#i-pin"/></svg>{{ m.city }}</small></span>
  </a>
  <div class="m-b">
    <ul><li><svg><use href="#i-briefcase"/></svg>{{ m.occupation }}</li><li><svg><use href="#i-moon"/></svg>{{ m.get_religion_display }} &middot; {{ m.intention }}</li></ul>
    <div class="compat"><span>Compatibility <b>{{ m.compatibility }}%</b></span><i style="--p:{{ m.compatibility }}%"></i></div>
    <div class="m-act">{% include "partials/like_button.html" with cls="sm" %}<a class="btn btn-v sm" href="{% if user.is_authenticated %}{{ u_view }}{% else %}{% url 'login' %}?next={{ u_view|urlencode }}" data-auth="{{ u_view }}{% endif %}">View Profile</a></div>
  </div>
</article>
